@import"node_modules/bootstrap/scss/bootstrap.scss";
// Global styles

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*  Navbar styles*/

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  background-color: #2C3E50
}
.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

#mainNav .navbar-brand {
  color: #fff;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #1abc9c;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #1abc9c;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
background-color: #30BC9C;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #1abc9c;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #1abc9c;
  }
}

/*Navbar styles*/
/*scrollTop*/
.scroll-to-top {
   z-index: 1042;
   right: 1rem;
   bottom: 1rem;
   display: none;
 }

 .scroll-to-top a {
   width: 3.5rem;
   height: 3.5rem;
   background-color: rgba(33, 37, 41, 0.5);
   line-height: 3.1rem;
 }
/*scrollTop*/

/*Footer styles*/
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
}

a.btn-social{
  border-radius: 100%;
  border-width: medium;
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#socialM {
  margin-bottom: 3rem;
}
/*Footer styles*/

// Start section styles

.masthead {
  padding: 200px 0 100px;
  background-color: #1abc9c;
}

.masthead-avata {
  width: 240px;
}

.masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
  font-weight: 700;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom-line {
  width: 112px;
  height: 4px;
  border-radius: 5px;
}

.left-line {
  margin-right: 16px;
}

.right-line {
  margin-left: 16px;
}

.fa-star {
  font-size: 32px;
}

.masthead-subheading{
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }

  .masthead-subheading{
    font-size: 1.25rem;
  }

}

// Contact section styles

#contact {
  padding: 96px 0;
}

#nameError, #emailError, #phoneError, #messageError {
  visibility: hidden;
}

.page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
  font-weight: 600;
}

.color-dark {
  color: #2c3e50;
}

.back-dark {
  background-color: #2c3e50;
}

.color-light {
  color: #ffffff;
}

.back-light {
  background-color: #ffffff;
}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

@media (min-width: 768px){
  .container {
      max-width: 720px;
  }
}

@media (min-width: 992px){

  .container {
      max-width: 960px;
  }

  .page-section-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }

}

.control-group {
  margin-bottom: 16px !important;
}

.form-group {
  position: relative;
}

.btn-xl {
  padding: 1rem 1.75rem !important;
  font-size: 1.25rem !important;
  color: #ffffff !important;
  background-color: #1abc9c !important;
  border-color: #1abc9c !important;
  border-radius: 10px !important;
}

.form-ctrl {
  padding: 7px 13px 30px;
  display: block;
  border: none;
  font-size: 1.5rem;
  border-bottom: 1px solid #e9ecef;
  width: 100%;
  resize: none;
}

.form-control-placeholder {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0;
}

.form-ctrl:focus {
  outline: none;
}

// .form-ctrl:focus + .form-control-placeholder,
.form-ctrl:valid + .form-control-placeholder,
.form-ctrl:not(:placeholder-shown) + .form-control-placeholder {
  font-size: 1rem;
  transform: translate3d(0, -110%, 0);
  opacity: 1;
  color: #1abc9c;
}

// Animations

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}


  /*# sourceMappingURL=style.css.map */
  .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: .25rem;
    border-radius: 1rem!important;
    // background-color: #2c3e50;
    // border-color: #2c3e50!important;
}
.portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: .5rem!important;
}
.portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;
    opacity: 0;
    background-color: rgba(26,188,156,.9);
}

.portfolio-item-caption-content {
    font-size: 1.5rem;
}
.portfolio-item:hover .portfolio-item-caption{
    opacity: 1;

}
.portfolio-modal .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    color: #1abc9c;
    opacity: 1;
}
.portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0,0,0,.2);
    border-radius: .75rem;
    outline: 0;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 4rem 1rem;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.text-secondary {
    color: #2c3e50!important;
}
.btn-primary {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}



.h-100 {
    height: 100%!important;
}
.w-100 {
    width: 100%!important;
}
.align-items-center {
    align-items: center!important;
}
.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}

//About Section
.text-white {
  color: #fff!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}


.page-section {
  padding: 6rem 0;
}

.mb-0, .my-0 {
  margin-bottom: 0!important;
}

.bg-sec {
  background-color: #1abc9c!important;
}

.btn-outline-light {
  color: #f8f9fa;
  border: 2px solid #f8f9fa !important;
}


////////////////////////
