// Global styles

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

// Start section styles

.masthead {
  padding: 200px 0 100px;
  background-color: #1abc9c;
}

.masthead-avata {
  width: 240px;
}

.masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
  font-weight: 700;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom-line {
  width: 112px;
  height: 4px;
  border-radius: 5px;
}

.left-line {
  margin-right: 16px;
}

.right-line {
  margin-left: 16px;
}

.fa-star {
  font-size: 32px;
}

.masthead-subheading{
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }

  .masthead-subheading{
    font-size: 1.25rem;
  }

} 

// Contact section styles

#contact {
  padding: 96px 0;
}

#nameError, #emailError, #phoneError, #messageError {
  visibility: hidden;
}

.page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
  font-weight: 600;
}

.color-dark {
  color: #2c3e50;
}

.back-dark {
  background-color: #2c3e50;
}

.color-light {
  color: #ffffff;
}

.back-light {
  background-color: #ffffff;
}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

@media (min-width: 768px){
  .container {
      max-width: 720px;
  }
}

@media (min-width: 992px){

  .container {
      max-width: 960px;
  }

  .page-section-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }

}

.control-group {
  margin-bottom: 16px !important;
}

.form-group {
  position: relative;
}

.btn-xl {
  padding: 1rem 1.75rem !important;
  font-size: 1.25rem !important;
  color: #ffffff !important;
  background-color: #1abc9c !important;
  border-color: #1abc9c !important;
}

.form-ctrl {
  padding: 7px 13px 30px;
  display: block;
  border: none;
  font-size: 1.5rem;
  border-bottom: 1px solid #e9ecef;
  width: 100%;
  resize: none;
}

.form-control-placeholder {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0;
}

.form-ctrl:focus {
  outline: none;
}

// .form-ctrl:focus + .form-control-placeholder,
.form-ctrl:valid + .form-control-placeholder,
.form-ctrl:not(:placeholder-shown) + .form-control-placeholder {
  font-size: 1rem;
  transform: translate3d(0, -110%, 0);
  opacity: 1;
  color: #1abc9c;
}

// Animations

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}



